//sass --watch src/assets/scss/style.scss:src/assets/css/style.css

@font-face {
    font-family: "univers";
    src: local("univers"), url("../../fonts/univers-light.otf") format("truetype");
}
@font-face {
    font-family: "universBold";
    src: local("universBold"), url("../../fonts/univers-bold.otf") format("truetype");
}
@font-face {
    font-family: "universextraBold";
    src: local("universextraBold"), url("../../fonts/univers-boldext.otf") format("truetype");
}
@font-face {
    font-family: "futurabold";
    src: local("futurabold"), url("../../fonts/futurabold.ttf") format("truetype");
}
@font-face {
    font-family: "futuraheavy";
    src: local("futuraheavy"), url("../../fonts/futuraheavy.ttf") format("truetype");
}
@font-face {
    font-family: "futuraextrablack";
    src: local("futuraextrablack"), url("../../fonts/futuraextrablack.ttf") format("truetype");
}
@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Light.eot");
    src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Gotham-Light.woff") format("woff"),
      url("../fonts/Gotham-Light.ttf") format("truetype"),
      url("../fonts/Gotham-Light.svg#Gotham") format("svg");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
  }
  
#root{
    width: 100%;
    height: 100vh;
    background-color: #f1ebdd;
    display: flex;
    flex-direction: column;
}
.c-home{
    background-color: #242424;
    height: 100vh;
    width: 100%;
}
.home{
    &-title{
        font-family:"universBold";
        text-transform: uppercase;
        margin: 0px;
        font-weight: 900;
        color: #fff;
        line-height: 4rem;
        font-size: 8rem;

        &.yellow{
            color:rgba(255, 90, 14, 0.8);
        }
    }
    &-icon{
        margin-bottom: 48px;
        animation: rotation 4s infinite;

        @keyframes rotation {
            to{
                transform: rotate(0deg);
                
            }
            from{
                transform: rotate(360deg);
            }
        }
    }

    &-button{
        background-color: #000;
        width: 320px;
        margin-top: 48px;
        height: 56px;
        font-family: 'gotham';
        border-radius: 48px;
        color: #fff;
    }
}

.c-running{
    padding: 40px 0px; 

    .running{
        &-title{
            font-family: 'futuraextrablack';
            font-size: 48px;
            text-align: center;
            text-transform: uppercase;
            color: #000;
        }
        &-subtitle{
            color: #757575;
            font-size: 24px;
            text-align: center;
            font-weight: 450;
            margin-top: -12px;
        }

        &-box{

        }
    }   
}
.modal-informative{
    position: relative;
    width: 100%;
    margin: 0px auto;
    max-width: 952px;
    height: 70vh;
    min-height: 70vh;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);

    .informative{
        &-toptitle{
            color: #ff5a0e;
            font-size: 16px;
            font-weight: 400;
            line-height: 0.2rem;
        }

        &-title{
            font-weight: bold;
            font-family: 'futuraextrablack';
            text-transform: uppercase;
            font-size: 50px;
        }

        &-subtitle{
            color: #757575;
            font-size: 20px;
            font-weight: 450;
            margin-top: -8px;
        }

        &-img{
            width: 400px;
            height: 400px;
        }
    }
}

.button{
    &-back{
        border-radius: 100px;
        height: 56px;
        width: 56px;
        padding: 0px;
    }
    &-next{
        width: 160px;
        height: 56px;
        border-radius: 50px;
        padding: 0px;
    }
    &-informative{
        border-radius: 100px;
        background-color: #fff;
        height: 56px;
        width: 56px;
        margin: 0px 16px;
        padding: 0px;
    }
}
.slick-arrow .slick-prev{
    background-color: #00df5e;
}
.slick-dots {
    position: absolute;
    bottom: -5% !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  } 
  .slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: auto;
      height: auto; 
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
  }
  .slick-dots li button:before {
      font-family: '';
      font-size: 0px;
      margin: 0px 16px;
      background: #606267;
      border-radius: 5px;
      position: absolute;
      top: 12%;
      left: 0;
      width: 18px !important;
      height: 6px !important;
      content: '' !important;
      text-align: center;
      opacity: .75;
      color: black;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .slick-dots li.slick-active button::before{
      width: 25px!important;
      background-color: #00df5e;
      opacity: 1 !important;
  }


  .sprite-sheets-fox {
    width: 258px;
    height: 256px;
    background-image: url("../../img/pista-sprite.png");
    

    &.animation{
        animation: fox 1.75s steps(16) infinite; 
        background-position: center; 
    }
}

@keyframes fox {
  from { background-position: 0px; } /* o frame inicial começa na posição 0 da imagem*/
    to { background-position: -4096px; } /* o frame final termina no tamanho total da largura da imagem */
}